.project {
    width: 100%;
    height: fit-content;
    /* border: 2px solid white; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: start;
    padding: 20px 0px;
    gap: 40px;

    video,
    img {
        width: 450px;
    }
}

.card {
    width: 450px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 12px;
}

.card-project-detail {
    padding: 0px 20px;
}

.card-project-action {
    padding: 0px 20px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: space-between;

    button {
        height: 30px;
        border-radius: 8px;
        background-color: transparent;
        color: white;
        border: 2px solid rgb(168, 127, 251);
        cursor: pointer;
    }
}

a {
    color: white;
}

@media screen and (max-width: 500px) {
    .project {
        margin-top: 40px;
        video,
        img {
            width: 100% !important;
        }
    }

    .card {
        width: 80% !important ;
    }
}